@import "tailwindcss";


@font-face {
  font-family: 'Stardom';
  src: url('/fonts/Stardom-Regular.woff') format('woff'),
       url('/fonts/Stardom-Regular') format('opentype');
  font-weight: normal;
  font-style:normal;
  font-display: swap;
}

h1 {
  font-family: 'Stardom', sans-serif;
}


.fonts{
  font-family: 'Dancing Script', cursive;
   /* font-family: 'Britney', cursive; */
}
.fontss{
  /* font-family: 'Dancing Script', cursive; */
   font-family: 'Britney', cursive;

}


 .star
 {
  font-family: 'Stardom', sans-serif;
   
 }


 .star1
 {
font-family: 'Telma', cursive;
 }


.panchang{
     font-family: 'Panchang', sans-serif;
}

.trench{
   font-family: 'Trench Slab', sans-serif;
}

.normal{
  font-family: 'Clash Grotesk', sans-serif;
}






.note {
animation : bounce 3s infinite alternate ;
}



@keyframes bounce {

  0% ,20% , 40% ,60% ,80% , 100%{
    transform : translateY(0px);
    background-color: red;
  }
  10% {
    transform: translateY(-200px);
  }
  30% {
     transform: translateY(-150px);
  }
  50% {
     transform: translateY(-100px);
  }
  70%{
     transform: translateY(-50px);
  }
  90%{
     transform: translateY(-20px);
  }
}


/* Slide in from the right */
@keyframes slide-in-right {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0);      opacity: 1; }
}

.slide-in-right {
  animation: slide-in-right 2s ease-out both;
}